
.fixed
  #user_header
    #user_photo
    #style1.style.droppable{:'data-rank' => 1}
    #style2.style.droppable{:'data-rank' => 2}
    #style3.style.droppable{:'data-rank' => 3}
.row
  .large-12.columns