= form_tag '/' do
  = hidden_field_tag :client_id, @auth.client.id

#user_dashboard_toggler

.clear

#user_dashboard
  = render(:partial => 'clients/dashboard')

#gallery
  = render(:partial => 'media/gallery')

:javascript
  $.backstretch("https://dl.dropbox.com/u/5433755/snippy/im1.jpg");