.row
  .large-12.columns.spacer

.row
  .large-4.columns.screen
    %h1.display_type.tight-leading.amber Get the style you want<br /> wherever you are

    .test
      %h1.blue.subhed Upload your photo
      %h4.lt_purp This is the paragraph textLorem
      %h1.blue.subhed Browse the styles
      %h4.lt_purp This is the paragraph textLorem
      %h1.blue.subhed Connect with a stylist
      %h4.lt_purp This is the paragraph textLorem
      / = image_tag('camera_icon.png')
  .large-8.columns

