.row
  .large-12.columns.spacer

.row
  .large-6.columns
    %h1.display_type.tight-leading Find the hair style of your dreams, wherever you are

    %h1 Upload your photo

    %p.subhead This is the paragraph textLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    %h1 Browse the styles
    %p.subhead This is the paragraph textLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    %h1 Connect with a stylist
    %p This is the paragraph textLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  .large-6.columns
