.row
  .large-12.columns.spacer

.row
  .large-4.columns.screen
    %h1.display_type.tight-leading.amber Get the style you want<br /> wherever you are

    .test
      %h1.blue.subhed Upload your photo<br /> Browse the styles<br /> Connect with a stylist
      / = image_tag('camera_icon.png')
  .large-8.columns

    / %p.subhead This is the paragraph textLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    / %h1 Browse the styles
    / %p.subhead This is the paragraph textLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    / %h1 Connect with a stylist
    / %p This is the paragraph textLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  / .large-6.columns
