
/ - @stylists.each do |stylist|
/   = stylist.user.name
/   = link_to(image_tag(stylist.user.image, :size => '200x230'), stylist_path(stylist))


.row
  .carousel{"data-jkit" => "[carousel:autoplay=no]"}
  - @stylists.each do |stylist|
    .carousel-item
      %div= link_to(image_tag(stylist.user.image, :size => '200x230'), stylist_path(stylist))
      %div= stylist.user.name
