<ul data-role="listview" data-inset="true" data-divider-theme="c">
   <li><%= link_to('Login', m_login_path) %></li>
   <li><%= link_to('Gallery', m_gallery_path) %></li>
</ul>
<p>Welcome to Bobs and Bangs mobile.</p>
<p>Stylists, log in to upload photos and videos.</p>
<p>Clients, press the gallery button above to get started.</p>
