%h1 Media index

#main{:role => 'main'}
  %ol#filters
    - @tags.each do |tag|
      %li{:'data-filter' => tag}
        = tag

  %ul#tiles
    - @media.each do |media|
      - if media.photo?
        %li.curly= image_tag(media.photo.thumb, :size => '200x320')
      - if media.video?
        %li.short= video_tag(media.video, :size => '200x283')
