#gear {
  margin-top: 2px;
}

.chardinjs-helper-layer {
  font-size:18px;
  font-weight:bold;
  color: #f9fce7;
  display:block;
}

.qmark {
  float: right;
  margin-top: -25px;
  margin-right: -10px;
}

#chardin_login_call .chardinjs-overlay {
  position: static;
  height: 300px;
  margin-top: -150px;
}