$orange:  #e57113; //accent color, stylist name
$lt_purp: #b6a6ad; //secondary BG color
$white:   #f9fce7; //default BG color
$blue:    #68bbde; //accent, alerts
$amber:   #726f2b; //accent, warnings
$black:   #4b3b3b; //text color

.orange { color: $orange; }
.lt_purp{ color: $lt_purp; }
.white { color: $white; }
.blue   { color: $blue; }
.amber  { color: $amber; }
.black  { color: $black; }

.ff {
  font-family: "brandon-grotesque",sans-serif;
  font-size: 1.2em;
}



#learn-more {
  margin-top: 10px;
}

.opacity {
  opacity: 0;
}

.banner {
  position: relative;
}

.slide_content {
  margin: 10px 10px 15px 20px;
}

.content {
  color: $white;
}

a.reg_btns.banner {
  float: right;
  margin-bottom: 20px;
}

#login_btn {
  float: left;
}

#cancel_btn {
  float: right;
}

.orbit-container {
  opacity: 0.9;
}

.orbit-container .orbit-timer {
position: absolute;
bottom: 0px;
right: 0px;
height: 6px;
width: 100px;
}

.section-container.tabs section#client_tab.active .title {
  background-color: $black;
  opacity: 0.9;
}

.section-container.tabs section#client_tab .title {
  background-color: $black;
  opacity: 0.9;
}

#client_slide {
  background-color: $black;
}

.section-container.tabs section#stylist_tab.active .title {
  background-color: $orange;
  opacity: 0.9;
}

.section-container.tabs section#stylist_tab .title {
  background-color: $orange;
  opacity: 0.9;
}

#stylist_slide {
  background-color: $orange;
}

.ul.disc.section-container.tabs {
  margin-bottom: 1.5px;
}

.section-container.tabs section .title {
  border: none;
  width: 485px;
  -webkit-border-top-left-radius: 25px;
  -webkit-border-top-right-radius: 25px;
  -moz-border-radius-topleft: 25px;
  -moz-border-radius-topright: 25px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.section-container section .title a {
  text-transform: uppercase;
  font-family: "brandon-grotesque",sans-serif;
  color: $white;
  font-weight: bold;
  font-size: 1.25em;
  padding-bottom: 10px;
}