/** TYPOGRAPHY **/
/** NO TOUCHY  **/

.display_type {
  font-size: 4em;
  font-family: "acta-poster-swashes";
}
h1 {
font-family: "acta-display",sans-serif;
font-style: normal;
font-weight: 800;
}

h2, h3, h4, h5 {
  font-family: "acta-display",sans-serif;
  font-style: normal;
  font-weight: 700;
}



p {
  font-family: "adobe-garamond-pro",serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.1em;
}

/* add class for bold type */

.bold {
  font-family: "acta-display",sans-serif;
  font-style: normal;
  font-weight: 700;
}

/* add italic style */

.italic {
  font-family: "acta-display",sans-serif;
  font-style: italic;
  font-weight: 400;
}

/**    NO TOUCHY   **/
/*- END TYPOGRAPHY -*/




.container {
  width: 300px;
  position: relative;
}

