/* TOC                                                  */
/* 1. COLORS                                            */
/* 2. TYPOGRAPHY                                        */



/** 1. COLORS *******************************************/



/** 2. TYPOGRAPHY ***************************************/

.display_type {
  font-size: 4em;
  font-family: "acta-poster-swashes";
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  opacity: .99;
}

h1 {
font-family: "acta-display",sans-serif;
font-style: normal;
font-weight: 800;
}

h2, h3, h4, h5 {
  font-family: "acta-display",sans-serif;
  font-style: normal;
  font-weight: 700;
}

p {
  font-family: "adobe-garamond-pro",serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.1em;
}

/* add class for bold type */

.bold {
  font-family: "acta-display",sans-serif;
  font-style: normal;
  font-weight: 700;
}

/* add italic style */

.italic {
  font-family: "acta-display",sans-serif;
  font-style: italic;
  font-weight: 400;
}

/*- END TYPOGRAPHY ***************************************/

/* page utilities  ***************************************/
.spacer {
  height: 60px;
}


/* FULL BG IMAGE sets full viewport, proportionally scaled, bg image */
body {
  background: url('https://dl.dropbox.com/u/5433755/snippy/bg.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



.container {
  width: 300px;
  position: relative;

}




/*- START NAV -*/

/* Set Login Form width */

.f-dropdown.content.open {
  width: 500px;
  opacity: .9;
}

#password_field {
  margin: 10px 0px 10px 0px;
}

.login_btn {
  text-align: center;
}
/*- END NAV -*/
