%nav.top-bar
  %ul.title-area
    / Title Area
    %li.name
      %h1.logo{"data-position" => "bottom", "data-intro" => "You can click on this link at any time to be redirected back to the this home page.", "style" => "margin-left: 10px;"}
        %a{:href => "/"}
          bobs
          %span.orange> and
          bangs
  %section.top-bar-section
    / Left Nav Section
    %ul.left
      %li.divider
      = login_nav.html_safe
      %li.divider
    %ul.right
      / %span.tip-left{"data-tooltip" => "", :title => "Click on this helper at any time to learn more about functionality on that page."}
      = link_to(image_tag("/assets/gear.png", :size => '40x40', :id => 'gear'), "#", :'data-show-form' => true, :'data-toggle-form' => true, "data-toggle" => "chardinjs", id: 'gear-link')



#modals
  #register.reveal-modal
    %h2.register_msg New to our site?
    %h4 Please register as either:
    %a.reg_btns{"data-reveal-id" => "stylist", :href => "#", :class => 'button success radius'} Stylist
    %a.reg_btns{"data-reveal-id" => "client", :href => "#", :class => 'button success radius'} Client


  #stylist.reveal-modal
    - @user = @auth if @auth.present?
    = render(:partial => 'stylists/form', :locals => {:object => @user})
    %a.close-reveal-modal X

  #client.reveal-modal
    - @user = @auth if @auth.present?
    = render(:partial => 'clients/form', :locals => {:object => @user})
    %a.close-reveal-modal X


