#register.reveal-modal
  %h2.register_msg New to our site?
  %h4 Please register as either:
  %a.reg_btns{"data-reveal-id" => "stylist", :href => "#", :class => 'button success radius'} Stylist
  %a.reg_btns{"data-reveal-id" => "client", :href => "#", :class => 'button success radius'} Client
  %a.close-reveal-modal X

#stylist.reveal-modal
  - @user = @auth if @auth.present?
  = render(:partial => 'stylists/form', :locals => {:object => @user})
  %a.close-reveal-modal X

#client.reveal-modal
  - @user = @auth if @auth.present?
  = render(:partial => 'clients/form', :locals => {:object => @user})
  %a.close-reveal-modal X