.fixed
  %nav.top-bar
    %ul.title-area
      / Title Area
      %li.name
        %h1
          %a{:href => "/"}
            bobs
            %span.orange> and
            bangs
    %section.top-bar-section
      / Left Nav Section
      %ul.left
        %li.divider
        = login_nav.html_safe
        %li.divider





#modals
  #register.reveal-modal
    %h2.register_msg New to our site?
    %h4 Please register as either:
    %a.reg_btns{"data-reveal-id" => "stylist", :href => "#", :class => 'button success radius'} Stylist
    %a.reg_btns{"data-reveal-id" => "client", :href => "#", :class => 'button success radius'} Client
    %a.close-reveal-modal X

  #stylist.reveal-modal
    = render(:partial => 'stylists/form')
    %a.close-reveal-modal X

  #client.reveal-modal
    = render(:partial => 'clients/form')
    %a.close-reveal-modal X


