<!DOCTYPE html>
 <html>
 <head>
    <meta charset="utf-8" />
    <title>Bobs and Bangs</title>
    <script type="text/javascript" src="/assets/foundation/js/vendor/jquery.js"></script>
    <link rel="stylesheet" href="/assets/jquery.mobile-1.3.0/jquery.mobile-1.3.0.min.css" />
    <script type="text/javascript" src="/assets/jquery.mobile-1.3.0/jquery.mobile-1.3.0.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

 <body>

 <div data-role="page" data-theme="b">
    <div data-role="header">
        <h3>Stylist uploader</h3>
    </div>
    <div data-role="content">

    <%= yield %>

</div>

   <div data-role="footer">
    <p>B&B mobile</p>
   </div>
 </div>
 </body>
 </html>